.input-wrapper span {
    cursor: pointer;
    color: purple;
    font-weight: bold;
    visibility: hidden;
}

.input-wrapper {
    border: 2px solid;
    padding: 1px 6px 1px 1px;
    display: inline-block;
}

.input-wrapper input {
    border: none;
    background: none;
    outline: none;
    padding: 0 0;
    margin: 0 0;
    font: inherit;
}